/* In styles.css */
/* fddded - the light pink colour */

/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.header-content {
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  height: 15vh; /* Make the header take up the full viewport height */
}

.header-text {
  text-align: center; /* Center text within its container */
  margin-right: 20px; /* Add space to the right of the text */
}

.header-image img {
  border-radius: 50%; /* Make the image circular */
  margin-left: 20px; /* Add some space between text and image */
  max-height: 100px; /* Adjust the max-height as needed */
}

/* Add any additional styles as needed */

nav {
  display: flex;
  justify-content: center;
  background-color: #333; /* Updated color */
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.section {
  margin-bottom: 30px;
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Additional styles for the image gallery and buttons */
#image-gallery {
  text-align: center;
  margin-top: 30px;
}

.image-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.image-container img {
  width: 30%;
  border: 1px solid #fddded; /* Updated border color */
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.button-container a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fddded; /* Updated button background color */
  color: #333; /* Updated button text color */
  text-decoration: none;
  border-radius: 5px;
}
